language: go

go:
  - 1.4

services:
  - rabbitmq

install:
  - export PATH=${PATH}:${HOME}/gopath/bin
  - go get -v -t ./...
  - go get -v github.com/golang/lint/golint
  - go get -v code.google.com/p/go.tools/cmd/vet

script:
  - go vet ./...
  - go test -v ./...
  - golint .
